<div id="list_display" task="can_view_database_list_jobgrade">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_jobgrade'><span type="form" name="jobgrade:id" href="lists?type=jobgrade&amp;id=" >Update this Information</span></li>
			<li task='can_view_database_list_jobgrade'><a href="lists?type=jobgrade">Select another Job Grade</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Job Grade</th>
		</tr>
		<span type="form" name="jobgrade:name" showhead="default"></span>
	  </table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
