<tbody id="person_form">
<tr>
    <th colspan="">Leave Request Details</th>
    <th colspan="">Leave Approval</th>
</tr>
<tr id="list_fields">
	<td>
    <span type='form' name="leave_request:leave_category" showhead="default" noedit="true"></span>
		<span type='form' name="leave_request:start_date" showhead="default" noedit="true"></span>
		<span type='form' name="leave_request:end_date" showhead="default" noedit="true"></span>
    <span type='form' name="leave_request:leave_days" showhead="default" noedit="true"></span>
		<span type='form' name="leave_request:return_date" showhead="default" noedit="true"></span>
  </td><td>
    <span type='form' name="leave_approval:approved" showhead="default"></span>
    <span type='form' name="leave_approval:approval_date" showhead="default"></span>
	</td>
</tr>
</tbody>
