  <div id="siteContent">
    <p>Leave Approval</p>
    <ul>

    </ul>
  <form name="leave_approval" method="POST" action="add_results_process" id="add_results">
  <div class="dataTable">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <th style="text-align:center;">SN</th>
        <th style="text-align:center;">Leave Period</th>
        <th style="text-align:center;">Leave Category</th>
        <th style="text-align:center;">Maximum Leave Days</th>
        <th style="text-align:center;">Days on Leave</th>
        <th style="text-align:center;">Balance</th>
        <th style="text-align:center;" colspan="2">Action</th>
      </tr>
      <tr>
        <th colspan="6"></th>
        <th>Approve</th><th>Deny</th>
      </tr>
      <tbody id="leave_applicants">

      </tbody>
    </table>
  </div> <!-- dataTable -->
</form>
</div>
